*/.png
data/**/*.json
data/**/*.png
data/**/*.ann
*.txt
*.dot
*.tar.gz
*.safetensors
*.pt
*.bin
saved_models/
pretrain-small-ds/
pretrain-large-ds-atomic-feather-2/
pretraining/data/
*.zip 
*.pickle
*.pth
*.log
*.png
*.gv
*.jpg
pretrained_model/
*.lock
data/cifar-10-batches-py/
tensorboard/
.ipynb_checkpoints/
lightning_logs/
graphimages_twopi_model/
**/__pycache__/
*.csv
evaluate_cbr/results/
data/
vis_models/
Preruns_VisionRetrievalPretraining/
wandb/
VisionRetrievalFineTuning/
VisionRetrievalPretraining/
*.ckpt
*.jsonl
